.body{
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position:fixed top;
}
h1{
    font-size: 24px;
    color: #f9faf8;
    margin-right: 200px;
    margin-left: 100px;
    padding: 20px;
}
h2{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    margin-left: 50px;
    padding: 10px;
}
h3{
    font-size: 36px;
    font-weight: bolder;
    color:#1f2937;
}
.top-section{
    background-color: #1f2937;
}
.top{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    margin:30px;
    padding: 20px;

}
.sign-up{
    background-color: #3882f6;
}
.quote{
    background-color: #e5e7eb;
    font-size: 36px;
    font: italic;
    color: #1f2937;
}
#quoting{
    font-weight: bold;
    font-size: 24px;
}
.footer{
    background-color: #1f2937;
    position:fixed bottom;
}
#top-signup{
    background-color: #3882f6;
    justify-self: flex-start;
    order: -3;
    padding: 10px;
    align-self: flex-end;
    
}
#bottom-signup{
    background-color: #3882f6;
}
.header-links{
    font-size: 18px;
    color: #e5e7eb;
    margin: 10px;
    padding: 10px;
    text-decoration: none;
}
.top-text{
    font-size: 18px;
    color: #e5e7eb;
    align-self: flex-end;
    margin:10px;
}
#top-img{
    width: 550px;
    height: auto;
    justify-content: end;
}
.images{
    width: 250px;
    height: 250px;
    margin:20px;
}
#row{
    margin:100px;
    margin-left: 300px;
    padding: 100px;

}
#row{
  display: flex;
  flex-wrap: wrap;
}